body,html {
    background-color: #F2EFDF; width : 100%;
    height: 100%;
    margin: 0 auto;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Oswald', sans-serif;
}

.container {
    text-align: center;
}

.question-margin {
    margin-top: 10%;
    margin-bottom: 10%;
}

.questionContainer {
    min-height: 12%;
    text-align: center;
    background-color: #fbfaf3;
}

.instructionsContainer {
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
    background-color: #fbfaf3;
}

.centered {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#countdownTimer {
    margin-top:20%;
}

#mobileCountdownTimer {
    margin-top:20%;
}

#instructions {
    margin-top: 5%;
    text-align: center;
}

.thumbnail {
    position: relative;
    background: none;
    border: none;
    text-align: center;
}

.caption {
    position: absolute;
    top: 25%;
    width: 100%;
}

#stage2 {
    height: 100%;
}
#mobileAnswers {
    height: 100%;
}

#mobileAnswer {
    text-align: center;
    font-size: 2em;
}

#scoresTable {
    margin-top: 5%;
    text-align: center;
    width: 70%;
    margin: auto;
}

#scoresTable tbody tr {
    min-height: 5%;
}

#mobileScoresTable {
    margin-top: 5%;
    text-align: center;
    width: 90%;
    margin: auto;
}

#mobileScoresTable tbody tr {
    min-height: 5%;
}

.active {
    background: none;
}
h3 {
    color: #A7A37E;
}